@charset "UTF-8";
:root {
  --bs-primary: #bd5d38;
  --bs-dark: #212529;
  --bs-body-font-family: Muli, -apple-system, sans-serif;
}

body {
  padding-top: 54px;
  color: #212529;
  font-family: var(--bs-body-font-family);
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

/* Side Navigation Styling */
#sideNav {
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--bs-primary) !important;
}

#sideNav .navbar-brand {
  display: flex;
  margin: auto auto 0;
  padding: 0.5rem;
}

#sideNav .navbar-brand .img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 992px) {
  #sideNav {
    position: fixed;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}

/* Sections */
.resume-section {
  display: flex;
  align-items: center;
  padding: 5rem 1rem;
  min-height: 100vh;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, sans-serif;
  font-size: 1.5rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
}

.social-icons .social-icon:hover {
  background-color: var(--bs-primary);
}

.dev-icons {
  font-size: 3rem;
}